# Taller - Python Básico

# Variables

<h3>Tipos de datos en Python </h3>

In [82]:
nombre = 'Tienda de AnalyticsClub' #String 
tiendaAbierta = True
manzanas = 5                       #Integer
peras = 4
harina = 5.5

In [83]:
#type() retorna el tipo  de datos
#print() permite imprimir en consola

print(type(nombre))    
print(type(manzanas))  
print(type(harina))
print(type(clientes))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>

# Operaciones

<h3>Operaciones básicas sobre datos</h3>

<p>Cálculos en consola</p>

In [84]:
5 + 5

10

In [85]:
5*5

25

<p>Manejo de variables</p>

In [86]:
manzanas = manzanas + 5 
manzanas

10

In [87]:
residuo = peras % 3
residuo

1

# Estructuras de datos

## Listas

In [107]:
clientes = ['Carlos', 'Jose', 'Maria', 'Luisa'] #List

print(clientes)

['Carlos', 'Jose', 'Maria', 'Luisa']

In [89]:
len(clientes)

4

In [90]:
clientes[0]

'Carlos'

In [91]:
clientes[-1]

'Luisa'

In [92]:
clientes[0:3]

['Carlos', 'Jose', 'Maria']

### Operaciones sobre listas

In [106]:
clientes.append('Fernando')
print(clientes)

['Carlos', 'Fernando', 'Fernando']

In [94]:
clientes.pop(1)
print(clientes)

['Carlos', 'Maria', 'Luisa', 'Fernando']

In [95]:
clientes.remove('Luisa')
print(clientes)

['Carlos', 'Maria', 'Fernando']

In [96]:
del clientes[1]
print(clientes)

['Carlos', 'Fernando']

## Diccionarios

In [97]:
precios = {"manzana": 10, "pera": 12, "harina": 4}

In [98]:
len(precios)

3

In [99]:
precios["manzana"]

10

In [100]:
precios.keys()
list(precios.keys())

['manzana', 'pera', 'harina']

In [101]:
precios.values()

dict_values([10, 12, 4])

### Operaciones con diccionarios

In [102]:
precios["banano"] = 30
precios

{'manzana': 10, 'pera': 12, 'harina': 4, 'banano': 30}

In [103]:
precios.pop("banano")

30

# Estructuras de control

<h3>Condicionales</h3>

In [104]:
pedido = "manzana"

if pedido == "manzana":
    manzanas = manzanas - 1
    print("Quedan " + str(manzanas) + " en stock")
    
elif pedido == "pera":
    peras = peras - 1
    print("Quedan " + str(peras) + " en stock")
    
else:
    print("El producto no existe")

Quedan 9 en stock

 <h3> Ciclos Determinados </h3>

In [105]:
for i in range(0,4):
    print(i)

0
1
2
3

In [113]:
precios_valores = list(precios.values())
total = 0

for p in precios_valores:
    total = total + p
    
print("El total de los precios es " + str(total))

El total de los precios es 26

<h3> Ciclos Indeterminados </h3>

In [110]:
clientes = ['Carlos', 'Jose', 'Maria', 'Luisa'] #List

encontro = False
cont = 0

while encontro == False:
    if clientes[cont] == "Luisa":
        encontro = True
    else:
        cont = cont + 1

print("Luisa fue la cliente no. " + str(cont))

Luisa fue la cliente no. 3

# Funciones